<body class="groom-bg">
  <div class="row">
    <h1 class="large-12 medium-12 small-12 columns home-title"> Groomsmen </h1>
  </div>

  <div class="row behind-show-pic">
    <%= image_tag(@groomsmen.first.file, class: "large-3 medium-4 small-10")%>
    <%= image_tag("0228.JPG", class: "large-offset-1 large-3 medium-4 small-10")%>
    <%= image_tag("0228.JPG", class: "large-offset-1 large-3 medium-4 small-10")%>
  </div>
  <div class="row behind-show-pic">
    <%= image_tag("0228.JPG", class: "large-3 medium-4 small-10")%>
    <%= image_tag("0228.JPG", class: "large-offset-1 large-3 medium-4 small-10")%>
    <%= image_tag("0228.JPG", class: "large-offset-1 large-3 medium-4 small-10")%>
  </div>
  <div class="row behind-show-pic">
    <%= image_tag("0228.JPG", class: "large-3 medium-4 small-10")%>
    <%= image_tag("0228.JPG", class: "large-offset-1 large-3 medium-4 small-10")%>
    <%= image_tag("0228.JPG", class: "large-offset-1 large-3 medium-4 small-10")%>
  </div>
  <div class="row behind-show-pic">
    <%= image_tag("0228.JPG", class: "large-3 medium-4 small-10")%>
    <%= image_tag("0228.JPG", class: "large-offset-1 large-3 medium-4 small-10")%>
    <%= image_tag("0228.JPG", class: "large-offset-1 large-3 medium-4 small-10")%>
  </div>

</body>
