<body class="medium-12 small-12 columns this">
  <div class="large-6 columns home-bg">
    <h1 class="home-title">The Burns Wedding</h1>
    <p class="sub-title">October 1st, 2017 </br> Boston, MA</p>
  </div>

  <div class="large-6 text-center columns routes">
    <%= link_to "Groomsmen", men_path, :class => "row men" %>
    <%= link_to "Bridal Party", women_path, :class => "row women" %>
    <%= link_to "Ceremony", ceremony_index_path, :class => "row ceremony" %>
    <%= link_to "Reception", reception_index_path, :class => "row reception" %>
    <%= link_to "Family", family_index_path, :class => "row family" %>
    <%= link_to "First Look", firstlook_index_path, :class => "row first-look" %>
    <%= link_to "Miscellaneous", misc_index_path, :class => "row misc" %>
    <%= link_to "Video", video_index_path, :class => "row video" %>
  </div>
</body>
